/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    width: 0;
}

.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}

.holtwood-one-sc-regular {
  font-family: "Holtwood One SC", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    background: url(../img/ellen-joe-and-bagboo.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ==================================================================== */

#package{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#package ul li{
    list-style: none;
    margin: 40px 0;
    
}

.packages{
    width: 75vw;
    height: 100px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
    border-radius: 30px;
    
}

.packages h3{
    color: white;
    margin: 0 auto;
}

